{erl_opts, [
  debug_info
  ,{parse_transform, lager_transform}
  ,{parse_transform, exprecs}
  ]}.
{deps, [
  {cowboy, "1.0.4"}
  ,{lager, "3.2.4"}
  ,{jsx, "2.8.2"}
  ,{parse_trans, "3.0.0"}
  ,{erlydtl, ".*", {git, "git://github.com/evanmiller/erlydtl", {tag, "0.12.0"}}}
  ,{xfutils, {git, "https://github.com/simonxu72/erlang-xfutils", {branch, "master"}}}
  ,{user_admin, {git, "https://github.com/qq164977873/user_admin", {branch, "master"}}}
  ,{ejwt, {git, "https://github.com/artefactop/ejwt", {branch, "master"}}}
  ,{mnesia_wechat, {git, "https://github.com/qq164977873/mnesia_wechat/", {branch, "master"}}}
]}.
{plugins, [
  %%rebar3_auto
  {rebar3_erlydtl_plugin, ".*",
    {git, "https://github.com/tsloughter/rebar3_erlydtl_plugin.git", {branch, "master"}}}
  %, rebar3_proper
  %, rebar_vsn_plugin

]}.
{provider_hooks, [
  {pre, [{compile, {erlydtl, compile}}]}
]}.
{lager, [
  {log_root, "./logs/"},
  {handlers, [
    {lager_console_backend, info},
    {lager_file_backend, [{file, "error.log"}, {level, error}]},
    {lager_file_backend, [{file, "console.log"}, {level, info}]}
  ]}
]}.
{shell, [{apps, [wechat_zh]}
  , {config, "sys.config"}]}.