[

  {wechat_zh,
    [
      {router, [gws_user_admin]}
    ]
  },
  {mnesia,
    [
      {dir, "./mnesia_store"}
    ]
  },
  {cowboy,
    [
      {http_port, 8081}
    ]
  },
  {lager,
    [
      {log_root, "./logs"},
      {handlers, [
        {lager_console_backend,
          [debug,
            {lager_default_formatter,
              [date, " ", time
                , " [", severity, "]"
                , " [", module, ":", function, "@", line, "]"
                , message
                , "\n"
              ]
            }
          ]
        },
        {lager_file_backend, [{file, "error.log"}, {level, error}]},
        {lager_file_backend, [{file, "console.log"}, {level, debug}]}
      ]}
    ]
  }


].
